# 7 segment display
NET "nSEG<0>" LOC = T17 | IOSTANDARD = LVCMOS33;
NET "nSEG<1>" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "nSEG<2>" LOC = U17 | IOSTANDARD = LVCMOS33;
NET "nSEG<3>" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "nSEG<4>" LOC = M14 | IOSTANDARD = LVCMOS33;
NET "nSEG<5>" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "nSEG<6>" LOC = L14 | IOSTANDARD = LVCMOS33;
NET "nSEG<7>" LOC = M13 | IOSTANDARD = LVCMOS33;

NET "nAN<0>" LOC = N16 | IOSTANDARD = LVCMOS33;
NET "nAN<1>" LOC = N15 | IOSTANDARD = LVCMOS33;
NET "nAN<2>" LOC = P18 | IOSTANDARD = LVCMOS33;
NET "nAN<3>" LOC = P17 | IOSTANDARD = LVCMOS33;

# Switches
NET "SW<0>" LOC = T10 | IOSTANDARD = LVCMOS33;
NET "SW<1>" LOC = T9  | IOSTANDARD = LVCMOS33;
NET "SW<2>" LOC = V9  | IOSTANDARD = LVCMOS33;
NET "SW<3>" LOC = M8  | IOSTANDARD = LVCMOS33;
